FROM_MAIL="xxx@gmail.com" 
FROM_MAIL_USER="xxxx" 
FROM_MAIL_PASSW="xxxxx" 
FROM_MAIL_SMTP="smtp.gmail.com:587" 
NOTIFIY_MAIL_SUBJECT="Home Security System Notification"  
IMAP_ADDR="imap.gmail.com" 
IMAP_PORT="993" 
HOME_IDENTITY_KEY="MyHome" 
TW_ACCN="TwilioKEY" 
TW_TOKEN="twilioToken" 
TW_PHONE="twilioPhn"
TO_MAILS="xxxx@gmail.com;xxx@ford.com.tr"
TO_PHONES="+9053xxxxxx"
GETFROM_MAILS="xxxxx@gmail.com"
START_DELAY="20"
WEB_FILE_ROOT="WEB_ROOT"
DYNAMIC_DNS_DOMAIN="SubdomainHere"
DYNAMIC_DNS_TOKEN="tokenHere"
DYNAMIC_DNS_ADRESS="www.duckdns.org"
DYNAMIC_DNS_PARAMETES="/update?domains=CD_DOMAIN&token=CD_TOKEN&ip="
DYNAMIC_DNS_METHOD="GET"
